#Q1. Create a New Database and Employees Table.

- CREATE DATABASE company_db;

USE company_db;

CREATE TABLE employees (

    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    salary INT,
    hire_date DATE
);

#Q2. Insert Data into Employees Table

- INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date)


VALUES
(1, 'Amit', 'Sharma', 'IT', 45000, '2022-03-15'),


(2, 'Neha', 'Verma', 'HR', 40000, '2021-07-10'),


(3, 'Rahul', 'Singh', 'IT', 60000, '2023-01-20'),


(4, 'Pooja', 'Gupta', 'Finance', 50000, '2020-11-05'),


(5, 'Ankit', 'Malik', 'IT', 55000, '2022-09-12');

#Q3. Display All Employee Records Sorted by Salary (Lowest to Highest)

- SELECT *


FROM employees


ORDER BY salary ASC;


#Q4. Show Employees Sorted by Department (A–Z) and Salary (High → Low)

- SELECT *

FROM employees


ORDER BY department ASC, salary DESC;


#Q5. List All Employees in the IT Department, Ordered by Hire Date (Newest First)

- SELECT *


FROM employees


WHERE department = 'IT'


ORDER BY hire_date DESC;

Create and Populate a Sales Table

#Q6. Create and Populate a Sales Table

- CREATE TABLE sales (


    sale_id INT PRIMARY KEY,


    customer_name VARCHAR(50),


    product VARCHAR(50),


    amount INT,


    sale_date DATE

);

INSERT INTO sales (sale_id, customer_name, product, amount, sale_date)


VALUES
(1, 'Aditi', 'Laptop', 70000, '2023-01-10'),


(2, 'Rahul', 'Mobile', 30000, '2023-02-15'),


(3, 'Aditi', 'Tablet', 25000, '2023-03-05'),


(4, 'Neha', 'Laptop', 72000, '2023-01-25'),


(5, 'Amit', 'Headphones', 5000, '2023-02-20');


#Q7. Display All Sales Records Sorted by Amount (Highest → Lowest)
- SELECT *

FROM sales


ORDER BY amount DESC;

#Q8. Show All Sales Made by Customer “Aditi”

- SELECT *

FROM sales

WHERE customer_name = 'Aditi';


#Q9. Difference Between Primary Key and Foreign Key
- #### PRIMARY KEY
 Primary key uniquely identifies each record in a table.It cannot have null values and only one primary key per table.

 - #### Foreign Key
 Foreign key refers tothe primary key of another table. It can hav null values and table can have multiple foreign keys.



#Q10-What Are Constraints in SQL and Why Are They Used? in casual language.

- Constraints in SQL are simply rules that we set on a table to make sure the data entered is correct and meaningful.

####USES OF CONSTRAINTS

To stop wrong data from being entered

To avoid duplicates

To keep data clean and reliable

To maintain relationships between tables


####Common types of constraints


PRIMARY KEY – makes sure each record is unique

FOREIGN KEY – connects one table to another

NOT NULL – value cannot be empty

UNIQUE – no two values can be the same

CHECK – allows only certain values

DEFAULT – sets a value automatically if nothing is given